{% extends 'base.html' %}
{% block content %}
<section class="section sdftyuio">
    <div class="texto-qdew"><strong class="bold-text-3">GCapp es una plataforma de economía circular que permite
            comprar, vender, donar y reparar dispositivos electrónicos, dándoles una segunda vida y reduciendo residuos
            tecnológicos</strong></div>
</section>
<section class="section section-light-grey">
    <div class="w-layout-blockcontainer container w-container">
        <div class="heading-max-width-wrapper"></div>
        <div class="w-layout-grid stardard-grid">
            <div id="w-node-_39157eb1-a8e9-ed1d-c39e-d57dbc3650e2-f101895d" class="div-block-9"><img
                    src="https://cdn.prod.website-files.com/69bfd32e6843e2faf101887b/69f041148405543df9ba5409_RTY.jpg"
                    loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 95vw, 940px"
                    srcset="https://cdn.prod.website-files.com/69bfd32e6843e2faf101887b/69f041148405543df9ba5409_RTY-p-500.jpg 500w, https://cdn.prod.website-files.com/69bfd32e6843e2faf101887b/69f041148405543df9ba5409_RTY-p-800.jpg 800w, https://cdn.prod.website-files.com/69bfd32e6843e2faf101887b/69f041148405543df9ba5409_RTY-p-1080.jpg 1080w, https://cdn.prod.website-files.com/69bfd32e6843e2faf101887b/69f041148405543df9ba5409_RTY-p-1600.jpg 1600w, https://cdn.prod.website-files.com/69bfd32e6843e2faf101887b/69f041148405543df9ba5409_RTY-p-2000.jpg 2000w, https://cdn.prod.website-files.com/69bfd32e6843e2faf101887b/69f041148405543df9ba5409_RTY.jpg 2560w"
                    alt="" class="image-8" /></div>
            <div id="w-node-fbad4669-812d-4bee-9893-56105ba3a25a-f101895d" class="_2-colums-text-max-width">
                <h3 class="heading-h2 margin-bottom-8">Sostenibilidad en cada reparación</h3>
                <div class="paragraph-20">En GCapp creemos en un futuro más sostenible: alargar la vida útil de los
                    dispositivos reduce residuos electrónicos, ahorra recursos y protege el planeta. Nuestra misión es
                    facilitar un consumo tecnológico más responsable y circular.</div>
            </div><img
                src="https://cdn.prod.website-files.com/69bfd32e6843e2faf101887b/69f0411bc755219f5222f6dd_RTYU.jpg"
                loading="lazy" width="934" id="w-node-_9d7d87c2-2e2b-8c0f-bef1-eb9aee366d73-f101895d" alt=""
                srcset="https://cdn.prod.website-files.com/69bfd32e6843e2faf101887b/69f0411bc755219f5222f6dd_RTYU-p-500.jpg 500w, https://cdn.prod.website-files.com/69bfd32e6843e2faf101887b/69f0411bc755219f5222f6dd_RTYU-p-800.jpg 800w, https://cdn.prod.website-files.com/69bfd32e6843e2faf101887b/69f0411bc755219f5222f6dd_RTYU-p-1080.jpg 1080w, https://cdn.prod.website-files.com/69bfd32e6843e2faf101887b/69f0411bc755219f5222f6dd_RTYU.jpg 1742w"
                sizes="(max-width: 767px) 100vw, (max-width: 991px) 95vw, 934px" class="image-9" />
            <div id="w-node-c5bea5fd-dbe2-1f57-b9a2-e01f5660a59c-f101895d" class="paragraph-20">La reparación es clave
                en GCapp: creemos que alargar la vida útil de los dispositivos no solo reduce residuos electrónicos,
                sino que también evita la extracción de nuevos recursos y disminuye el impacto ambiental. Apostamos por
                reparar antes que reemplazar, promoviendo un consumo tecnológico más responsable y sostenible</div>
        </div>
    </div>
</section> 
ñ
{% endblock %}