{% extends 'base.html' %}
{% block content %}

<!-- HERO -->
<section class="section section-produtcs-hero">
  <div class="w-layout-blockcontainer container w-container">
    <div class="heading-max-width-wrapper">
      <h1 class="display-heading-1 margin-bottom-24">Nuestros productos</h1>
      <p class="paragraph-20">
        <strong>Tecnología con historia, lista para una nueva vida.</strong>
        Descubrí dispositivos usados, reacondicionados y clásicos que vuelven al juego.
      </p>
    </div>
  </div>
</section>

<!-- CATEGORÍAS DINÁMICAS -->
<section class="section-2">
  <div class="w-layout-blockcontainer container-2 w-container">
    <div class="collection-list-wrapper-4 w-dyn-list">
      <div role="list" class="collection-list-2 w-dyn-items">

        {% for cat in categories %}
        <div id="w-node-_9c4c8cf2-ccaf-3eda-2351-fc2475869962-f10189c3"
             role="listitem"
             class="collection-item-3 w-dyn-item">

        {% if cat.image %}
          <img loading="lazy"
            src="{{ cat.image.url }}"
            alt="{{ cat.name }}"
            class="image-5">
        {% else %}
          <div class="image-5 placeholder-circle"></div>
        {% endif %}

          <!-- Link dinámico -->
          <a href="{% url 'category_products' cat.slug %}" class="link">
            {{ cat.name }}
          </a>

        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>

<!-- PRODUCTOS DINÁMICOS -->
<section data-record-id="470fcc13-0b0c-86fa-3f31-5be4b871ebe5"
         data-copilot="true"
         class="section section-black"
         style="width: 100%;"        
         >

  <h2 class="heading">Productos</h2>

  <div class="container">
    <div class="collection-list-wrapper-8 w-dyn-list">
      <div role="list" class="all-products-grid w-dyn-items">

        {% for product in products %}
        <div role="listitem" class="producto w-dyn-item">

          <a href="{% url 'product' product.id %}" class="products-card-link w-inline-block">

            <div class="products-item-image-wrapper">
              {% if product.image %}
              <img class="products-item-image"
                src="{{ product.image.url }}"
                loading="lazy">
              {% endif %}

            </div>

            <div class="products-item-text-wrapper">
              <h3 class="heading-h4 heading-h4-white nombre">
                {{ product.name }}
              </h3>

              <div class="products-item-description-wrapper">
                <p class="product-list-desciption product-list-desciption-white descripcion">
                  {{ product.description }}
                </p>

                <p class="product-list-desciption product-list-desciption-white">
                  € {{ product.price }}
                </p>
              </div>
            </div>

          </a>

        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>

{% endblock %}
