{% extends 'base.html' %}
{% block content %}

<section class="section section-produtcs-hero">
  <div class="w-layout-blockcontainer container w-container">
    <div class="heading-max-width-wrapper">
      <h1 class="display-heading-1 margin-bottom-24">Nuestros productos</h1>
      <p class="paragraph-20"><strong>Tecnología con historia, lista para una nueva vida.</strong> Descubrí dispositivos
        usados, reacondicionados y clásicos que vuelven al juego.</p>
    </div>
  </div>
</section>
<section class="section-2">
  <div class="w-layout-blockcontainer container-2 w-container">
    <div class="collection-list-wrapper-4 w-dyn-list">
      <div role="list" class="collection-list-2 w-dyn-items">
        <div id="w-node-_9c4c8cf2-ccaf-3eda-2351-fc2475869962-f10189c3" role="listitem"
          class="collection-item-3 w-dyn-item"><img loading="lazy"
            src="https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e656055ff438f5bcd60502_OIP.webp" alt=""
            class="image-5" /><a href="/category/fotografia-y-video" target="_blank" class="link">Fotografia y video</a>
        </div>
        <div id="w-node-_9c4c8cf2-ccaf-3eda-2351-fc2475869962-f10189c3" role="listitem"
          class="collection-item-3 w-dyn-item"><img loading="lazy"
            src="https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e655d9328b88acef1b692a_gameconsoles-2048px-1011084-2x1-1.webp"
            alt="" sizes="(max-width: 767px) 100vw, (max-width: 991px) 95vw, 939px"
            srcset="https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e655d9328b88acef1b692a_gameconsoles-2048px-1011084-2x1-1-p-500.webp 500w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e655d9328b88acef1b692a_gameconsoles-2048px-1011084-2x1-1-p-800.webp 800w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e655d9328b88acef1b692a_gameconsoles-2048px-1011084-2x1-1-p-1080.webp 1080w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e655d9328b88acef1b692a_gameconsoles-2048px-1011084-2x1-1-p-1600.webp 1600w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e655d9328b88acef1b692a_gameconsoles-2048px-1011084-2x1-1-p-2000.webp 2000w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e655d9328b88acef1b692a_gameconsoles-2048px-1011084-2x1-1.webp 2048w"
            class="image-5" /><a href="/category/game-devices" target="_blank" class="link">Game Devices</a></div>
        <div id="w-node-_9c4c8cf2-ccaf-3eda-2351-fc2475869962-f10189c3" role="listitem"
          class="collection-item-3 w-dyn-item"><img loading="lazy"
            src="https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e65691bcb31cdad163d9d8_arctis_pro_wl_black_livingroom_wide_4k_001-jpg__1920x1080_q100_crop-fit_optimize_subsampling-2.avif"
            alt="" class="image-5" /><a href="/category/audio-devices" target="_blank" class="link">Audio Devices</a>
        </div>
        <div id="w-node-_9c4c8cf2-ccaf-3eda-2351-fc2475869962-f10189c3" role="listitem"
          class="collection-item-3 w-dyn-item"><img loading="lazy"
            src="https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e656bf64a5afb19745bea9_2f707413-ceb0-4402-8285-3c4f517494dc.webp"
            alt="" sizes="(max-width: 767px) 100vw, (max-width: 991px) 95vw, 939px"
            srcset="https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e656bf64a5afb19745bea9_2f707413-ceb0-4402-8285-3c4f517494dc-p-500.webp 500w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e656bf64a5afb19745bea9_2f707413-ceb0-4402-8285-3c4f517494dc-p-800.webp 800w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e656bf64a5afb19745bea9_2f707413-ceb0-4402-8285-3c4f517494dc.webp 1054w"
            class="image-5" /><a href="/category/computers" target="_blank" class="link">Computers</a></div>
        <div id="w-node-_9c4c8cf2-ccaf-3eda-2351-fc2475869962-f10189c3" role="listitem"
          class="collection-item-3 w-dyn-item"><img loading="lazy"
            src="https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e657403a1fa32bc4d75967_OIP.webp" alt=""
            class="image-5" /><a href="/category/tablets" target="_blank" class="link">Tablets</a></div>
        <div id="w-node-_9c4c8cf2-ccaf-3eda-2351-fc2475869962-f10189c3" role="listitem"
          class="collection-item-3 w-dyn-item"><img loading="lazy"
            src="https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e65776b46c03bbf0c025b3_OIP%20(1).webp"
            alt="" class="image-5" /><a href="/category/smartphones" target="_blank" class="link">SmartPhones</a></div>
        <div id="w-node-_9c4c8cf2-ccaf-3eda-2351-fc2475869962-f10189c3" role="listitem"
          class="collection-item-3 w-dyn-item"><img loading="lazy"
            src="https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e657efd574b593bfa97bbb_image%20(1).webp"
            alt="" sizes="(max-width: 767px) 100vw, (max-width: 991px) 95vw, 939px"
            srcset="https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e657efd574b593bfa97bbb_image%20(1)-p-500.webp 500w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e657efd574b593bfa97bbb_image%20(1)-p-800.webp 800w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e657efd574b593bfa97bbb_image%20(1)-p-1080.webp 1080w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e657efd574b593bfa97bbb_image%20(1)-p-1600.webp 1600w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e657efd574b593bfa97bbb_image%20(1).webp 1792w"
            class="image-5" /><a href="/category/productospopulares" target="_blank" class="link">Productos
            Populares</a></div>
        <div id="w-node-_9c4c8cf2-ccaf-3eda-2351-fc2475869962-f10189c3" role="listitem"
          class="collection-item-3 w-dyn-item"><img loading="lazy"
            src="https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69e65875e6aeb50abafabbc1_istockphoto-1192932567-170667a.jpg"
            alt="" class="image-5" /><a href="/category/mejoresprecios" target="_blank" class="link">Mejores Precios</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section data-record-id="470fcc13-0b0c-86fa-3f31-5be4b871ebe5" data-copilot="true" class="section section-black">
  <h2 class="heading">Productos</h2>
  <div class="container">
    <div class="collection-list-wrapper-8 w-dyn-list">
      <div role="list" class="all-products-grid w-dyn-items">

  {% for product in products %}
  <div role="listitem" class="producto w-dyn-item">
    <a href="{% url 'product' product.id %}" class="products-card-link w-inline-block">

      <div class="products-item-image-wrapper">
        <img class="products-item-image"
             src="{{ product.image.url }}"
             alt="{{ product.name }}"
             loading="lazy">
      </div>

      <div class="products-item-text-wrapper">
        <h3 class="heading-h4 heading-h4-white nombre">{{ product.name }}</h3>

        <div class="products-item-description-wrapper">
          <p class="product-list-desciption product-list-desciption-white descripcion">
            {{ product.description }}
          </p>

          <p class="product-list-desciption product-list-desciption-white">
            $ {{ product.price }} USD
          </p>
        </div>
      </div>

    </a>
  </div>
  {% endfor %}

</div>

  </div>
</section>
{% endblock %}