{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section section-black-product">

    <div class="w-layout-blockcontainer container w-container">

        <div class="max-60rem-title-wrapper" style="margin-bottom: 40px;">
            <p class="hero-label hero-label-white">Categoría</p>
            <h1 class="display-heading-1 display-heading-1-white">{{ category.name }}</h1>
        </div>

        <!-- FILTROS SIN CATEGORÍA -->
        <form method="GET" action="#productos" class="filters">

            <input type="text" name="search" placeholder="Buscar..." value="{{ request.GET.search }}">

            <select name="condition">
                <option value="">Estado</option>
                <option value="usado" {% if request.GET.condition == 'usado' %}selected{% endif %}>Usado</option>
                <option value="reparado" {% if request.GET.condition == 'reparado' %}selected{% endif %}>Reparado</option>
                <option value="reacondicionado" {% if request.GET.condition == 'reacondicionado' %}selected{% endif %}>Reacondicionado</option>
                <option value="nuevo" {% if request.GET.condition == 'nuevo' %}selected{% endif %}>Nuevo</option>
            </select>

            <input type="number" name="min_price" placeholder="Precio mínimo" value="{{ request.GET.min_price }}">
            <input type="number" name="max_price" placeholder="Precio máximo" value="{{ request.GET.max_price }}">

            <button type="submit" class="primary-button">Filtrar</button>

        </form>

        <!-- GRID + CARDS -->
        {% include "product_card.html" %}

    </div>

</section>

{% endblock %}
