{% extends 'base.html' %}
{% block content %}
<section data-record-id="470fcc13-0b0c-86fa-3f31-5be4b871ebe5" data-copilot="true"
    class="section section-black-product">
    <div class="container">
        <div class="max-60rem-title-wrapper">
            <p class="hero-label hero-label-white">All</p>
            <h1 class="display-heading-1 display-heading-1-white">Fotografia y video</h1>
        </div>
        <div class="w-dyn-list">
            <div role="list" class="products-grid w-dyn-items">
                <div id="w-node-_462eb554-0972-cb1c-337e-7da56907c18e-f10189a7" role="listitem"
                    class="collection-item-5 w-dyn-item"><a href="/product/canon-ef-50mm-f-1-8-stm-lens"
                        class="products-card-link w-inline-block">
                        <div id="w-node-_462eb554-0972-cb1c-337e-7da56907c190-f10189a7"
                            class="products-item-image-wrapper"><img class="products-item-image"
                                src="https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69f0544eab96034b23a30a2f_Copilot_20260428_083140.png"
                                width="" height="" alt="" sizes="100vw"
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                loading="lazy"
                                srcset="https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69f0544eab96034b23a30a2f_Copilot_20260428_083140-p-500.png 500w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69f0544eab96034b23a30a2f_Copilot_20260428_083140-p-800.png 800w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69f0544eab96034b23a30a2f_Copilot_20260428_083140-p-1080.png 1080w, https://cdn.prod.website-files.com/69bfd32f6843e2faf10188ea/69f0544eab96034b23a30a2f_Copilot_20260428_083140.png 1536w" />
                        </div>
                        <div class="products-item-text-wrapper">
                            <h3 class="heading-h4 heading-h4-white">Canon EF 50mm f/1.8 STM Lens de segunda mano</h3>
                            <div class="products-item-description-wrapper">
                                <p class="product-list-desciption product-list-desciption-white">Objetivo fijo luminoso
                                    de 50 mm con apertura f/1.8, enfoque STM silencioso y excelente nitidez. Ideal para
                                    retratos, producto y fotografía con poca luz.</p>
                                <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                    class="product-list-desciption product-list-desciption-white">$ 125.00 USD</p>
                            </div>
                        </div>
                    </a></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}